/* --- fonts --- */

@font-face {
  font-family: NarkissTam;
  src: url(../fonts/NarkissTam-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: NarkissAsaf;
  src: url(../fonts/NarkissAsaf-Regular-TRIAL.otf);
  font-weight: normal;
}

@font-face {
  font-family: NarkissAsaf;
  src: url(../fonts/NarkissAsaf-Bold-TRIAL.otf);
  font-weight: bold;
}

@font-face {
  font-family: NarkissAsafHalfMono;
  src: url(../fonts/NarkissAsaf-RegularHalfMono-TRIAL.otf);
  font-weight: normal;
}

@font-face {
  font-family: NarkissAsafHalfMono;
  src: url(../fonts/NarkissAsaf-BoldHalfMono-TRIAL.otf);
  font-weight: bold;
}

@font-face {
  font-family: NarkissAsafMono;
  src: url(../fonts/NarkissAsaf-RegularMono-TRIAL.otf);
  font-weight: normal;
}

@font-face {
  font-family: NarkissAsafMono;
  src: url(../fonts/NarkissAsaf-BoldMono-TRIAL.otf);
  font-weight: bold;
}

/* --- root --- */

:root {
  --TEST: rgb(243, 148, 16);

  /* color */
  --white-clr: rgb(255,255,255);
  --black-clr: rgb(0,0,0);

  --R-clr: rgb(255,0,0);
  --G-clr: rgb(0,255,0);
  --B-clr: rgb(0,0,255);

  /* fonts */
  --main-ff: 'NarkissAsaf';
  --main-fw: normal;
  --sidenotes-ff: 'NarkissAsafMono';
  --sidenotes-fw: bold;
}

/* --- setup --- */

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

html {
  color-scheme: dark light;
  background-color: var(--black-clr);
  scroll-behavior: smooth;
  overflow: scroll;
}

body {
  height: auto;
  min-height: 100vh;
  padding: 0 10vw 0 10vw;
  background-color: var(--black-clr);
  overflow: scroll;
  scroll-behavior: smooth;
  overflow: scroll;
}

/* --- primitives --- */

p {
  font-family: var(--main-ff);
  font-weight: var(--main-fw);
  font-size: 20px;
  max-width: 400px;
}

p.indent {
  text-indent: 80px;
}

h1 {
  font-family: var(--main-ff);
  font-weight: var(--main-fw);
  font-size: 20px;
  max-width: 400px;
}

h2 {
  font-family: var(--main-ff);
  font-weight: var(--main-fw);
  line-height: 50px;
  font-size: 50px;
  max-width: 55vw;
}

h3 {
  font-family: var(--sidenotes-ff);
  font-weight: var(--sidenotes-fw);
  margin-bottom: 4vh;
  font-size: 12px;
  letter-spacing: 0.09px;
  max-width: 200px;
}

/* --- functions --- */

.channelSwitch { opacity: 0; }

/* --- classes --- */

.R {
  position: relative;
  mix-blend-mode: screen;
  color: var(--R-clr);
  transition: opacity 0.4s ease, top 0.41s ease-out;
}

.G {
  position: relative;
  mix-blend-mode: screen;
  color: var(--G-clr);
  transition: opacity 0.4s ease, top 0.41s ease;
}

.B {
  position: relative;
  mix-blend-mode: screen;
  color: var(--B-clr);
  transition: opacity 0.4s ease, top 0.41s ease;
}

.sidenav {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 15vh 0;
  gap: 11vh;
  height: 100vh;
  width: 10vh;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  top: 0;
}

#sidenav_l {
  left: 0vh;
}

#sidenav_r {
  right: 0vh;
}

.sidenav .article_button {
  display: block;
  height: 40px;
  width: 10px;
  border-radius: 3px;
  border-style: solid;
  border-color: var(--white-clr);
  background-color: var(--white-clr);
  transition: background-color 0.4s ease, margin-bottom 1s ease;
}

.in_a1 {
  margin-bottom: auto;
}

#R_button{
  background-color: var(--R-clr);
  border-color: var(--R-clr);
}

#R_button.clicked {
  background-color: var(--black-clr);
}

#G_button{
  background-color: var(--G-clr);
  border-color: var(--G-clr);
}

#G_button.clicked {
  background-color: var(--black-clr);
}

#B_button{

  background-color: var(--B-clr);
  border-color: var(--B-clr);
}

#B_button.clicked {
  background-color: var(--black-clr);
}

.grid {
  display: grid;
  align-items: stretch;
  justify-items: center;
  margin: 7vh 5vw 0 0;
  column-gap: 5vw;
  width: auto;
  grid-template-columns: 40% 60%;
  grid-template-areas: "R L";
}

.grid_one {
  display: grid;
  align-items: stretch;
  justify-items: center;
  justify-content: space-evenly;
  margin: 7vh 0 0 0;
  width: auto;
  grid-template-areas: "L";
}

.site_header {
  margin: 10vh 0 55vh 0;
}

.img_science {
  justify-items: normal;
  justify-content: normal;
}

.a_header {
  margin-top: 80vh;
  padding-top: 10vh;
  transition: opacity 2s ease;
  opacity: 0;
}

.a_header.active {
  opacity: 1;
}

.a_title_R {
  background-color: var(--R-clr);
  color: var(--black-clr);
}

.a_title_G {
  background-color: var(--G-clr);
  color: var(--black-clr);
}

.a_title_B {
  background-color: var(--B-clr);
  color: var(--black-clr);
}

/* img */

.img_l {
  grid-area: L;
}

.img_r {
  grid-area: R;
}

/* @keyframes pop_in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.img_circle {
  max-width: none;
  width: 50vw;
  /* transition: 10s ease-out 10s 10 pop_in; */
}

.add_capction {
  margin-top: 14vh;
}

.capction {
  margin-top: 2vh;
}

/* txt */

.txt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.txt_l {
  grid-area: L;
}

.txt_r {
  grid-area: R;
}

.txt_width {
  max-width: 400px;
}

.rec {
  height: 40px;
}

.footer {
  margin-top: 30vh;
  margin-bottom: 5vh;
  align-items: stretch
}

/* --- id --- */

#rec_gradient_bw_R {
  background-image: linear-gradient(to right, var(--black-clr) , var(--R-clr));
}

#rec_gradient_bw_G {
  background-image: linear-gradient(to right, var(--black-clr) , var(--G-clr));
}

#rec_gradient_bw_B {
  background-image: linear-gradient(to right, var(--black-clr) , var(--B-clr));
}

#rec_R {
  background-color: var(--R-clr);
}

#rec_R_B {
  background-color: rgb(60,0,0);
  margin-left: 5vw;
}

#rec_B {
  background-color: var(--B-clr);
  margin-left: 5vw;
}

#rec_gradient_R {
  background-image: linear-gradient(to right, var(--black-clr) , var(--R-clr));
}

#rec_gradient_R_B {
  background-image: linear-gradient(to right, rgb(60,0,0) , var(--black-clr));
}

#rec_gradient_B {
  background-image: linear-gradient(to right, var(--B-clr) , var(--black-clr));
}

#rec_gradient_borders {
  display: flex;
}

.border_R {
  width: 77%;
  box-shadow: -2px 0px 0px 0px var(--R-clr);
}

.border_G {
  width: 77%;
  box-shadow: -2px 0px 0px 0px var(--G-clr);
}

.border_B {
  width: 77%;
  box-shadow: -2px 0px 0px 0px var(--B-clr);
}

/* Media Query */

@media (max-width: 1300px) {
  div.grid {
    margin: 5vh 4vw 0 7vw;
    column-gap: 2vw;
  }

  div.grid_one {
    margin: 5vh 4vw 0 7vw;
  }

  #rec_R_B {
    margin-left: 2vw;
  }
  
  #rec_B {
    margin-left: 2vw;
  }
}

@media (max-width: 1024px) {
  div.grid {
    margin: 2vh 2vw 0 2vw;
    column-gap: 1vw;
  }

  div.grid_one {
    margin: 2vh 2vw 0 2vw;
  }
  
  #rec_R_B {
    margin-left: 1vw;
  }
  
  #rec_B {
    margin-left: 1vw;
  }
}

@media (max-width: 800px) {
  div.grid {
    grid-template-areas: 
    "R"
    "L";
    grid-template-columns: auto;
  }

  #rec_R_B {
    margin-left: 0;
  }
  
  #rec_B {
    margin-left: 0;
  }

  #sidenav_l {
    left: -2vh;
  }
  
  #sidenav_r {
    right: -2vh;
  }

  h2 {
    max-width: 80vw;
  }
}